/* estilos cuerpo pagina */
body {
  background: url("../images/fondo.jpg") no-repeat top Left fixed;
  background-size: cover;
}

.contenido-inferior {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  opacity: 1;
  z-index: 0;
}

.contenido-inferior:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  z-index: -1;
  background-color: black;
}

.textos {
  color: #c60f13;
}

/* estilos cabecera pagina */
.cabecera {
  color: #e0e0e0;
  border-right-style: inset;
  border-right-width: 1px;
}

/* estilos navegacion pagina */
.Navegacion {
  opacity: 0.9;
}

.buscar-txt {
  padding-right: 0;
}

.buscar-btn {
  padding: 0 0;
}

.historial-btn {
  text-align: left;
}

/* estilos publicaciones pagina */
.ultimas-pub {
  background-color: #bcaaa4;
}

textarea {
  margin: 0 0 2px 0;
}

.comentarios, .comentarios p {
  margin: 0 0 2px 0;
  padding: 2px 2px;
}

.img-usuario {
  padding-right: 0;
}
